<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Doc-Api</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('assets/doc/styles/style.css') }}">
</head>
<body>
<div class="accordion accordion-flush" id="accordionFlushMain">
    <hr>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-downloader">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-downloader" aria-expanded="false" aria-controls="flush-collapse-downloader">
                Сервис загрузки файлов
            </button>
        </h2>
        <div id="flush-collapse-downloader" class="accordion-collapse collapse" aria-labelledby="flush-downloader" data-bs-parent="#accordionFlushMain">
            <div class="accordion-body">
                <div class="accordion accordion-flush" id="accordionFlushDownloader">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-downloaderFile">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-downloaderFile" aria-expanded="false" aria-controls="flush-collapse-downloaderFile">
                                Загрузка файлов
                            </button>
                        </h2>
                        <div id="flush-collapse-downloaderFile" class="accordion-collapse collapse" aria-labelledby="flush-downloaderFile" data-bs-parent="#accordionFlushDownloader">
                            <div class="accordion-body">
                                <p>(POST) <a href="https://api.stnsystem.tk/download">https://api.stnsystem.tk/download</a> - загрузить файл </p>
                                <b>Request</b>
                                <ul>
                                    <li><i>image</i> - файл</li>
                                </ul>
                                <b>Response</b>
                                <ul>
                                    <li><i>status</i> - 200 / 400</li>
                                    <li><i>url</i> - ссылка на файл / пустая строка</li>
                                </ul>
                                <div class="card">
                                    <form id="downloader_download_form" class="card-header">
                                        <label for="formFile" class="form-label">Выберите файл</label>
                                        <input class="form-control" type="file" id="formFile" name="image">
                                    </form>
                                    <div class="card-body">
                                        <button id="downloader_download" class="btn btn-primary listener_api_request">Запросить</button>
                                        <button id="downloader_download_loader" class="btn btn-primary hiddenclass" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Ожидайте
                                        </button>
                                        <p class="card-text">
                                        <pre id="downloader_download_response"></pre>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="flush-checkphone">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-checkphone" aria-expanded="false" aria-controls="flush-collapse-checkphone">
                {% if statusCheckphoneRobot == 0 %}
                    <span style="margin-right: 10px" class="badge bg-success">
                        Working
                    </span>
                {% else %}
                    <span style="margin-right: 10px" class="badge bg-danger">
                        Stopped
                    </span>
                {% endif %}
                Номера
            </button>
        </h2>
        <div id="flush-collapse-checkphone" class="accordion-collapse collapse" aria-labelledby="flush-checkphone" data-bs-parent="#accordionFlushMain">
            <div class="accordion-body">
                <div class="accordion accordion-flush" id="accordionFlushCheckphone">

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-checkphoneSetting">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-checkphoneSetting" aria-expanded="false" aria-controls="flush-collapse-checkphoneSetting">
                                Просмотр и редактирование настроек
                            </button>
                        </h2>
                        <div id="flush-collapse-checkphoneSetting" class="accordion-collapse collapse" aria-labelledby="flush-checkphoneGetPhone" data-bs-parent="#accordionFlushCheckphone">
                            <div class="accordion-body">
                                <p>(GET) <a href="https://api.stnsystem.tk/checkphone/setting">https://api.stnsystem.tk/checkphone/setting</a> - просмотр текущих настроек, гет параметры меняют настройки </p>
                                <b>Request</b>
                                <ul>
                                    <li><i>id_chat</i> - смена ид чата</li>
                                </ul>
                                <b>Response</b>
                                <ul>
                                    <li><i>id_chat</i> - текущий ид чата</li>
                                </ul>
                                <ul class="nav nav-tabs" id="checkphoneSettingTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active"
                                                id="checkphoneSettingTabGet-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#checkphoneSettingTabGet"
                                                type="button"
                                                role="tab"
                                                aria-controls="checkphoneSettingTabGet"
                                                aria-selected="true">
                                            Просмотреть настройки</button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link"
                                                id="checkphoneSettingTabSet-tab"
                                                data-bs-toggle="tab"
                                                data-bs-target="#checkphoneSettingTabSet"
                                                type="button"
                                                role="tab"
                                                aria-controls="checkphoneSettingTabSet"
                                                aria-selected="false">
                                            Установить настройки</button>
                                    </li>
                                </ul>
                                <div class="tab-content" id="checkphoneSettingTabContent">
                                    <div class="tab-pane fade show active"
                                         id="checkphoneSettingTabGet"
                                         role="tabpanel"
                                         aria-labelledby="checkphoneSettingTabGet-tab">

                                        <div class="card">
                                            <div class="card-body">
                                                <button id="checkphone_setting_getsetting" class="btn btn-primary listener_api_request">Запросить</button>
                                                <button id="checkphone_setting_getsetting_loader" class="btn btn-primary hiddenclass" type="button" disabled>
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    Ожидайте
                                                </button>
                                                <p class="card-text">
                                                    <pre id="checkphone_setting_getsetting_response"></pre>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade"
                                         id="checkphoneSettingTabSet"
                                         role="tabpanel"
                                         aria-labelledby="checkphoneSettingTabSet-tab">

                                        <div class="card">
                                            <div class="card-header">
                                                <div class="input-group flex-nowrap">
                                                    <span class="input-group-text" id="addon-wrapping">id_chat</span>
                                                    <input id="checkphone_setting_setsetting_id_chat" type="text" class="form-control" placeholder="id_chat" aria-label="id_chat" aria-describedby="addon-wrapping">
                                                </div>
                                            </div>
                                            <div class="card-body">
                                                <button id="checkphone_setting_setsetting" class="btn btn-primary listener_api_request">Запросить</button>
                                                <button id="checkphone_setting_setsetting_loader" class="btn btn-primary hiddenclass" type="button" disabled>
                                                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                                    Запросить
                                                </button>
                                                <p class="card-text">
                                                    <pre id="checkphone_setting_setsetting_response"></pre>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-checkphoneGetPhone">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-checkphoneGetPhone" aria-expanded="false" aria-controls="flush-collapse-checkphoneGetPhone">
                                Получить номер
                            </button>
                        </h2>
                        <div id="flush-collapse-checkphoneGetPhone" class="accordion-collapse collapse" aria-labelledby="flush-checkphoneGetPhone" data-bs-parent="#accordionFlushCheckphone">
                            <div class="accordion-body">
                                <p>(GET) <a href="https://api.stnsystem.tk/checkphone/client/88005553535">https://api.stnsystem.tk/checkphone/client/{phone}</a> - просмотреть все записи по номеру {phone}</p>
                                <b>Request</b>
                                <ul>
                                    <li><i>id_dev</i> - ид устройства</li>
                                </ul>
                                <b>Request JSON</b>
                                <ul>
                                    <li><i>id</i> - ид записи</li>
                                    <li><i>phone</i> - номер телефона</li>
                                    <li><i>updated</i> - дата обновления</li>
                                    <li><i>state</i> - статус: waiting/ok/block</li>
                                    <li><i>operator</i> - мобильный оператор</li>
                                    <li><i>region</i> - регион, город</li>
                                    <li><i>names</i> - возможные имена</li>
                                    <li><i>vk</i> - ссылка на вконтакте</li>
                                    <li><i>insta</i> - инстаграм</li>
                                    <li><i>fb</i> - фейсбук</li>
                                    <li><i>email</i> - эл почта</li>
                                    <li><i>dayBirdth</i> - дата рождения</li>
                                    <li><i>tg</i> - телеграм</li>
                                    <li><i>whatsapp</i> - ватсап</li>
                                    <li><i>viber</i> - вайбер</li>
                                    <li><i>ok</i> - одноклассники</li>
                                    <li><i>adress</i> - адрес</li>
                                </ul>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="addon-wrapping">Номер телефона</span>
                                            <input id="checkphone_getphone_phone" type="text" class="form-control" placeholder="phone" aria-label="phone" aria-describedby="addon-wrapping">
                                        </div>
                                        <div class="input-group flex-nowrap hiddenclass">
                                            <span class="input-group-text" id="addon-wrapping">Ид устройства</span>
                                            <input id="checkphone_getphone_id_dev" type="text" class="form-control" placeholder="id_dev" aria-label="id_dev" aria-describedby="addon-wrapping">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <button id="checkphone_getphone" class="btn btn-primary listener_api_request">Запросить</button>
                                        <button id="checkphone_getphone_loader" class="btn btn-primary hiddenclass" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Ожидайте
                                        </button>
                                        <p class="card-text">
                                        <pre id="checkphone_getphone_response"></pre>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-checkphoneAddPhone">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-checkphoneAddPhone" aria-expanded="false" aria-controls="flush-collapse-checkphoneAddPhone">
                                Добавить телефон
                            </button>
                        </h2>
                        <div id="flush-collapse-checkphoneAddPhone" class="accordion-collapse collapse" aria-labelledby="flush-checkphoneAddPhone" data-bs-parent="#accordionFlushCheckphone">
                            <div class="accordion-body">
                                <p>(POST)  <a href="https://api.stnsystem.tk/checkphone/client/">https://api.stnsystem.tk/checkphone/client/</a> - отправить номер на обработку</p>
                                <b>Request</b>
                                <ul>
                                    <li><i>phone</i> - номер телефона</li>
                                    <li><i>id_dev</i> - ид устройства</li>
                                </ul>
                                <b>Request JSON</b>
                                <ul>
                                    <li><i>id</i> - ид записи</li>
                                    <li><i>phone</i> - номер телефона</li>
                                    <li><i>updated</i> - дата обновления</li>
                                    <li><i>state</i> - статус: waiting/ok</li>
                                    <li><i>operator</i> - мобильный оператор</li>
                                    <li><i>region</i> - регион, город</li>
                                    <li><i>names</i> - возможные имена</li>
                                    <li><i>vk</i> - ссылка на вконтакте</li>
                                    <li><i>insta</i> - инстаграм</li>
                                    <li><i>fb</i> - фейсбук</li>
                                    <li><i>email</i> - эл почта</li>
                                    <li><i>dayBirdth</i> - дата рождения</li>
                                    <li><i>tg</i> - телеграм</li>
                                    <li><i>whatsapp</i> - ватсап</li>
                                    <li><i>viber</i> - вайбер</li>
                                    <li><i>ok</i> - одноклассники</li>
                                    <li><i>adress</i> - адрес</li>
                                </ul>
                                <div class="card">
                                    <div class="card-header">
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="addon-wrapping">Номер телефона</span>
                                            <input id="checkphone_setphone_phone" type="text" class="form-control" placeholder="phone" aria-label="phone" aria-describedby="addon-wrapping">
                                        </div>
                                        <div class="input-group flex-nowrap">
                                            <span class="input-group-text" id="addon-wrapping">Ид устройства</span>
                                            <input id="checkphone_setphone_id_dev" type="text" class="form-control" placeholder="id_dev" aria-label="id_dev" aria-describedby="addon-wrapping">
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <button id="checkphone_setphone" class="btn btn-primary listener_api_request">Запросить</button>
                                        <button id="checkphone_setphone_loader" class="btn btn-primary hiddenclass" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Ожидайте
                                        </button>
                                        <p class="card-text">
                                        <pre id="checkphone_setphone_response"></pre>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="accordion-item">
                        <h2 class="accordion-header" id="flush-checkphoneCheckQuery">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-checkphoneCheckQuery" aria-expanded="false" aria-controls="flush-collapse-checkphoneCheckQuery">
                                Запросы за сегодня
                            </button>
                        </h2>
                        <div id="flush-collapse-checkphoneCheckQuery" class="accordion-collapse collapse" aria-labelledby="flush-checkphoneCheckQuery" data-bs-parent="#accordionFlushCheckphone">
                            <div class="accordion-body">

                                <div class="card">
{#                                    <div class="card-header">#}
{#                                        <div class="input-group flex-nowrap">#}
{#                                            <span class="input-group-text" id="addon-wrapping">Номер телефона</span>#}
{#                                            <input id="checkphone_setphone_phone" type="text" class="form-control" placeholder="phone" aria-label="phone" aria-describedby="addon-wrapping">#}
{#                                        </div>#}
{#                                        <div class="input-group flex-nowrap">#}
{#                                            <span class="input-group-text" id="addon-wrapping">Ид устройства</span>#}
{#                                            <input id="checkphone_setphone_id_dev" type="text" class="form-control" placeholder="id_dev" aria-label="id_dev" aria-describedby="addon-wrapping">#}
{#                                        </div>#}
{#                                    </div>#}
                                    <div class="card-body">
{#                                        <button id="checkphone_setphone" class="btn btn-primary listener_api_request">Запросить</button>#}
                                        <button id="checkphone_setphone_loader" class="btn btn-primary hiddenclass" type="button" disabled>
                                            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                                            Ожидайте
                                        </button>
                                        <p class="card-text">
                                        <pre id="checkphone_setphone_response">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th scope="col">Ид</th>
                                                        <th scope="col">Номер</th>
                                                        <th scope="col">Последнее обновление</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for client in listClient %}
                                                        <tr>
                                                            <th scope="row">{{ client.getId() }}</th>
                                                            <td>{{ client.getPhone() }}</td>
                                                            <td>{{ client.getLastQuery()|date('d.m.Y H:i') }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </pre>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <hr>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="{{ asset('assets/doc/scripts/script.js') }}"></script>
</body>
</html>